<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Application Form</title>
</head>
<body>
    <main>
        <form>
          <label for="first_name">First name:</label><br>
          <input type="text" id="first_name" name="first_name"><br>
          <label for="last_name">Last name:</label><br>
          <input type="text" id="last_name" name="last_name"><br>
          <label for="address">Address:</label><br>
          <input type="text" id="address" name="address"><br>
          <label for="phone">Phone:</label><br>
          <input type="text" id="phone" name="phone">
        </form>
    </main>
</body>
</html>